template#show-content
  link(rel='stylesheet' href='/css/show-content.css')
  article.group-card-content
    // img#hero-image(src='/img/batman.jpg' alt='')
    .container-profile-hero
      img#hero-profile(src='/img/profile/batman.jpg' alt='')
    p Name
    slot.hero-slot(name='hero-name') NEED NAME
    p Real name
    slot.hero-slot(name='hero-realname') NEED REAL NAME
    p Base of Operations
    slot.hero-slot(name='hero-baseOperations') NEED BASE OF OPERATIONS
    p Powers
    slot.hero-slot(name='hero-powers') NEED POWERS
    p Occupation
    slot.hero-slot(name='hero-occupation') NEED occupation
    p Facebook
    slot.hero-slot(name='hero-facebook') NEED FACEBOOK
    .section-delete 
      button Delete

  

script(src='/js/show-content.js',)
