template#sidebar-navigation
  link(rel='stylesheet' href='css/sidebar-navigation.css')
  section
    h1 Side Bar
    p#spiderman Spiderman
    p#batman.edit_p Batman
    p#goku.edit_p Goku
script(src='/js/sidebar-navigation.js',type="module")


