template#sidebar-navigation
  link(rel='stylesheet' href='css/sidebar-navigation.css')
  section
    h1 All heros
    <slot name="hero-name" class="hero-name" >NEED NAME</slot>

script(src='/js/sidebar-navigation.js')


