<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="import", href="components/sidebar-navigation.html")
        link(rel="import", href="components/show-content.html")
        title Super Hero
    body
        h1 This is web components 
    
        <sidebar-navigation></sidebar-navigation>
        <show-content></show-content>

